<?xml version="1.0"?>
<launch>
  <!-- Move Base 節點 -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <!-- 載入配置檔案 -->
    <rosparam file="$(find restaurant_robot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find restaurant_robot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find restaurant_robot)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find restaurant_robot)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find restaurant_robot)/config/base_local_planner_params.yaml" command="load" />
    
    <!-- 其他參數 -->
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
    <param name="controller_frequency" value="10.0"/>
    <param name="controller_patience" value="3.0"/>
    <param name="planner_frequency" value="1.0"/>
    <param name="planner_patience" value="5.0"/>
    <param name="oscillation_timeout" value="10.0"/>
    <param name="oscillation_distance" value="0.2"/>
    <param name="conservative_reset_dist" value="0.1"/>
    <param name="shutdown_costmaps" value="false"/>
    <param name="clearing_rotation_allowed" value="true"/>
  </node>
</launch>
